
/* section 부분*/
section{position: relative; left: 50%; transform: translatex(-47%); display: flex; margin: 0 auto; margin-top:100px; width: 100vw; height: 100vh;}

/* section hover box img*/
.hover_box > div { height: 900px; width: 900px; overflow: hidden;}
.hover_box > div > img { transform-origin: center; position : relative; height: 900px; width: 900px; transition: 1.8s;}
.opasity_box:hover ~   img{
   transform: scale(1.03);
}
.opasity_box {z-index: 99; transition: 1.3s; position: absolute; top: 0; opacity: 0; width:  900px; height: 900px; background-color: rgba(0, 0, 0, 0.548);}
.opasity_box:hover{opacity: 1;}
.opasity_box:hover > p{opacity: 1;  top: 67%;}
.opasity_box:hover > p:after { transform: scaleX(1); }
.hover_box > div {position: relative;}
.hover_box > div >p{
    text-align: center;
    font-size: 50px; color: #fff; 
    position: absolute; top: 50%; left: 50%; transform: translate(-40%, -50%);
    font-family: 'Noto Sans CJK KR', 'Noto Sans CJK KR Web', sans-serif ; 
    font-style: normal;
    font-weight: 500;
    z-index: 99;
}

.opasity_box>p{
    padding-bottom: 10px;
    text-align: center;
    width: 110px;
    cursor: pointer;
    font-size: 20px; color: #fff; 
    transition: .5s;
    position: relative; top: 75%; left: 50%; transform: translate(-50%, -50%);
    font-family: 'Noto Sans CJK KR', 'Noto Sans CJK KR Web', sans-serif ; 
    font-style: normal;
    font-weight: 500;
    z-index: 99;
    opacity: 0;
    display:inline-block; 
    margin:0;
    text-transform:uppercase;
}
.opasity_box>p:after {
    display:block;
    content: '';
    padding-bottom: 10px;
    border-bottom: solid 1px #ffffff;  
    transform-origin:  0% 50%;
    transform: scaleX(0);  
    transition: transform 0.6s ease-in-out;
}

































































































